h1 {
    font-family: 'Roboto', sans-serif;
  }

  .descricao {
    font-family: 'Montserrat', sans-serif;
  }

  h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: #171A21;
    color: azure;
  }

  #eu {
    text-decoration: none;
  }

  .games {
    font-size: 18px;
  }

  .pcs {
    font-size: 17px;
  }

  .webdev {
    font-size: 16px;
  }

  .paci {
    font-size: 15px;
  }

  #about {
  }
